Source: buddycloud-media-server
Section: misc
Priority: optional
Maintainer: Rodrigo Duarte <rodrigo@buddycloud.com>
Build-Depends: debhelper (>= 8), default-jre (>=1.6) | java6-runtime, cdbs, maven
Standards-Version: 3.9.2
Homepage: https://github.com/buddycloud/buddycloud-media-server

Package: buddycloud-media-server
Architecture: all
Pre-Depends: ${cdbs:Pre-Depends}
Depends: ${misc:Depends},
 ${cdbs:Depends}
Recommends: ${cdbs:Recommends}
Suggests: ${cdbs:Suggests}
Description: A media server for buddycloud channels
 It provides a simple REST-like HTTP interface where clients can do several operations 
 like uploading, downloading updating and deleting media.
